a{
    text-decoration: none !important;
    padding: 0;
    margin: 0;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0.75rem 3.75rem 0.75rem;
    text-align: center;

    h2{
        font-weight: $headingFontWeight;
    }

    h2::before{
        margin: 0 0.2rem 0.65rem 0;
        content: "";
        height: 2px;
        width: 3.125rem;
        background-color: $primaryColor;
        display: inline-block;
    }
    h2::after{
        margin: 0 0 0.65rem 0.2rem;
        content: "";
        height: 2px;
        width: 3.125rem;
        background-color: $primaryColor;
        display: inline-block;
    }
    
}

.section{
    padding-block: 4.75em;
}