.stats-item{
    padding: 1.875rem;
    i{
        color: $primaryColor;
        font-size: 2.75rem;
    }
    .stats-counter{
        font-size: 3rem;
        color: $headingColor;
        font-weight: $headingFontWeight;
        margin-left: 1rem;
    }
    .stats-description{
        margin-bottom: 0;
        margin-left: 4rem;
        color: color-mix(in srgb, #444444, transparent 40%);
        font-size: 0.9rem;
    }
}